.project-card {
    display: flex;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #eee;
    border-radius: 8px;
}
  
.img-project{
    margin-right: 50px;
}

.img-project img{
    width: 350px;
}

.info-project{
    align-content: center;
}

.description {
    white-space: pre-line;
    margin: 1rem 0;
    line-height: 1.5;
}
  
.btn-project {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #3b82f6;
    color: white;
    border-radius: 4px;
    text-decoration: none;
}