/* General styles */
.header {
  background-color: rgb(33,45,58);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 50px;
  width: 100%;
  position: relative;
box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

a{
  text-decoration: none;
}

.header-left {
  display: flex;
    align-items: center;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.site-title h4 {
  margin: 0;
color: rgb(255, 255, 255);
  padding-left: 0;
text-decoration: none;
}

h4 {
  color: rgb(255, 255, 255);
  margin: 0;
  padding-left: 0;
text-decoration: none;
}

nav.responsive-bar {
  display: flex;
  position: sticky; /* Solo el nav se queda pegado arriba */
  width: auto;
  margin-right: 20px;
}

nav.responsive-bar ol {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav.responsive-bar ol li {
  list-style-type: none;
  margin: 0 10px;
}

.header .btn {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  margin: 0 15px;
  border-radius: .5rem;
}

.header .btn:hover {
  border-bottom-style: solid;
  background-color: rgb(33,45,58);
  color: white;
}

/* Hamburger button */
.hamburger {
  display: none; 
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
    z-index: 1000;
  margin-left: 10px; /* Ajusta el espacio entre el botón y el texto */
}

/* Responsive styles */
@media (max-width: 900px) {
  .hamburger {
    display: block; /* Muestra el botón en pantallas pequeñas */
position: relative; /* Asegura que se alinee dentro del flujo del header */
margin-left: 0; /* Elimina márgenes innecesarios */
  }

  nav.responsive-bar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%; /* Coloca la caja justo debajo del botón */
    right: 0; /* Pegado al lado derecho */
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 999;
width: auto; /* Ajusta el ancho automáticamente */
  }

  nav.responsive-bar.open {
    display: flex;
  }

  nav.responsive-bar ol {
    flex-direction: column;
padding: 0;
    margin: 0;
  }

  nav.responsive-bar ol li {
    margin: 10px 0;
  }

  .menu-legend {
    display: block; /* Solo se muestra en pantallas pequeñas */
  }
}

/* Estilo para la leyenda "Menu" */
.menu-legend {
display: none;
           font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
    border-bottom: solid 2px #ccc;
}